/*
@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/assets.css";
@import "sanitize.css/typography.css";
@import "sanitize.css/reduce-motion.css";
*/

@import "https://fonts.googleapis.com/css2?family=Tangerine&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    box-sizing: border-box;
}

html,
body {
    border: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.app {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: min-content auto min-content;
    background-color: #ececec;
}

.header {
    display: flex;
    align-items: stretch;
    height: 75px;
    padding: 0 5px;
    gap: 5px;
    grid-column: 1 / span 2;
    background-color: #c0c0c0;

    > * {
        margin: 15px 5px;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 5px;

    > div {
        font-family: "Tangerine", cursive;
        font-size: 64px;
    }
}

.search {
    flex-grow: 1;

    > input {
        height: 100%;
        width: 100%;
        padding: 0 22.5px;
        border: none;
        border-radius: 22.5px;
        background-color: #eaeaea;
        font-size: 18px;
    }
}

.menu {
    min-width: 45px;
    width: 45px;
    border-radius: 100%;
    font-size: 24px;
    background-color: #eaeaea;

    .button {
        display: grid;

        & > * {
            grid-column: 1;
            grid-row: 1;
        }

        .level {
            align-self: center;
            justify-self: center;
        }

        path {
            fill: #f1ac44;
        }
    }
}

.filters {
    margin: 15px;
    margin-right: 0;
    padding: 20px;
    background-color: #fff;
    display: grid;
    align-content: start;
    grid-template-columns: auto min-content;
    gap: 5px;

    &:first-child,
    .category {
        grid-column: span 2;
    }

    .category {
        margin-top: 10px;
    }
}

.items {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    align-content: start;
    padding: 15px;
    padding-left: 30px;
    gap: 15px;

    .item {
        height: 200px;
        padding: 15px;
        transition: box-shadow 0.2s;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ffffff;

        &:hover {
            box-shadow: 0px 0px 20px black;
        }

        .type,
        .rarity,
        .price {
            font-size: 16px;
        }

        .price,
        .rarity {
            justify-self: end;
        }

        .price {
            text-align: right;
        }

        .name {
            text-align: center;
            grid-column: span 2;
            align-self: end;
        }
    }
}

.preview {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 50px auto 50px;
    justify-content: center;
    align-content: center;
    background-color: #00000080;

    .card {
        min-height: 100%;
        padding: 25px 50px;
        grid-column: 2;
        grid-row: 2;
        background-color: #ffffff;
        box-shadow: 0px 0px 20px black;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .name {
            font-size: 28px;
        }

        .details {
            display: flex;
            gap: 10px;
        }

        .description {
            overflow-y: auto;
        }
    }
}
